@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

body {
  line-height: 1;
}

html,
body {
  height: 100%;
  line-height: 1;
}

label {
  -webkit-tap-highlight-color: transparent;
}

/*-----------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #6c757d;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*-----------------*/
.header__container {
  min-height: 99px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.39;
  /* identical to box height, or 139% */
  color: #495057;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.387097%;
          flex: 0 0 13.387097%; /* 166/1240 */
}
@media (max-width: 991.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.387097%;
            flex: 0 0 9.387097%;
  }
}
.header__logo span {
  color: #ddbea9;
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__buttons {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.064516%;
          flex: 0 0 13.064516%; /* 162/1240 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
@media (max-width: 767.98px) {
  .header__buttons {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.header__registration-button {
  font-weight: 500;
  line-height: 2.08;
  /* identical to box height, or 208% */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41px;
          flex: 0 0 41px;
  color: rgba(73, 80, 87, 0.5);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .header__registration-button:hover {
    color: rgba(73, 80, 87, 0.8);
  }
}
.header__get-started-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  background-color: #ddbea9;
  border-radius: 20px;
  color: #f8f9fa;
  padding: 7.5px 15.5px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (max-width: 767.98px) {
  .header__get-started-button {
    padding: 6.5px 13px;
  }
}
@media (any-hover: hover) {
  .header__get-started-button:hover {
    background-color: rgba(190, 163, 145, 0.8784313725);
  }
}
.header__burger-icon {
  display: none;
}
@media (max-width: 767.98px) {
  .header__burger-icon {
    display: block;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    position: relative;
  }
  .header__burger-icon::before, .header__burger-icon::after,
  .header__burger-icon span {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    width: 100%;
    background-color: #495057;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger-icon::before {
    top: 0;
  }
  .header__burger-icon::after {
    bottom: 0;
  }
  .header__burger-icon span {
    top: 50%;
    margin-top: -0.5px;
  }
}
.header__burger-open .navigation-header__menu,
.header__burger-open .navigation-header__menu::before {
  left: 0;
}

.header__burger-open .header__burger-icon::before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.header__burger-open .header__burger-icon::after {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}

.header__burger-open .header__burger-icon span {
  width: 0;
  left: 50%;
}

@media (max-width: 767.98px) {
  .navigation-header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #beb9b8;
    overflow: auto;
    padding: 90px 25px 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navigation-header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 60px;
    background-color: #b6b1b0;
    z-index: 2;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.navigation-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 5px;
}
@media (max-width: 767.98px) {
  .navigation-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    row-gap: 20px;
  }
}
.navigation-header__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.08;
  /* identical to box height, or 208% */
  color: rgba(73, 80, 87, 0.5);
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation-header__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ddbea9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .navigation-header__item:hover::before {
    width: calc(100% - 13px);
  }
}
@media (any-hover: hover) {
  .navigation-header__item:hover {
    color: #495057;
  }
}
.navigation-header__item.active {
  position: relative;
  color: #495057;
}
.navigation-header__item.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ddbea9;
}
@media (max-width: 767.98px) {
  .navigation-header__link {
    font-size: 18px;
    color: #212529;
  }
}
@media (min-width: 768px) {
  .navigation-header__item--parent {
    position: relative;
    padding-right: 13px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navigation-header__item--parent::after {
    content: "";
    width: 8px;
    height: 5px;
    background: url(../img/icons/check.svg) 0 0/100% no-repeat;
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
}
@media (min-width: 768px) and (max-width: 767.98px) {
  .navigation-header__item--parent::after {
    display: none;
  }
}
@media (min-width: 768px) and (any-hover: hover) {
  .navigation-header__item--parent:hover::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .navigation-header__item--parent:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    pointer-events: auto;
  }
}
@media (max-width: 767.98px) {
  .sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120%;
    left: 0;
    padding-top: 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
  }
  .sub-menu__list {
    min-width: 140px;
    background-color: #212529;
    border-radius: 5px;
    padding: 20px;
  }
  .sub-menu__item {
    font-weight: 500;
    line-height: 2.08;
    color: rgba(248, 249, 250, 0.6);
  }
}
@media (min-width: 768px) and (any-hover: hover) {
  .sub-menu__item:hover .sub-menu__link {
    color: #f8f9fa;
  }
}
@media (min-width: 768px) {
  .sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.sub-menu__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 767.98px) {
  .sub-menu__link {
    font-size: 15px;
    color: #666e76;
  }
}