@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

body {
  line-height: 1;
}

label {
  -webkit-tap-highlight-color: transparent;
}

/*-----------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #6c757d;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*-----------------*/
.header__container {
  min-height: 99px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 70px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 50px;
  }
}
.header__logo {
  color: #495057;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.39;
}
.header__logo span {
  color: #ddbea9;
}
.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62.258065%;
          flex: 0 0 62.258065%; /* 772/1240 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 991.98px) {
  .header__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70.258065%;
            flex: 0 0 70.258065%;
  }
}
@media (max-width: 767.98px) {
  .header__navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75.258065%;
            flex: 0 0 75.258065%;
  }
}

.navigation-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.navigation-header__item {
  font-weight: 500;
  line-height: 2.08;
  /* identical to box height, or 208% */
  color: rgba(73, 80, 87, 0.5);
  position: relative;
}
.navigation-header__item.active {
  color: #495057;
}
.navigation-header__item.active .navigation-header__link::before {
  width: 100%;
  left: 0;
  color: #495057;
}
@media (any-hover: hover) {
  .navigation-header__item:hover .navigation-header__link {
    color: #495057;
  }
}
@media (any-hover: hover) {
  .navigation-header__item:hover .navigation-header__link::before {
    width: 100%;
    left: 0;
    color: #495057;
  }
}
.navigation-header__link {
  position: relative;
  display: inline-block;
  line-height: 2.08;
}
.navigation-header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #ddbea9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation-header__item--parent {
  position: relative;
  padding-right: 13px;
}
.navigation-header__item--parent:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.navigation-header__item--parent::after {
  content: "";
  background: url(../img/icons/check.svg) 0 0/100% no-repeat;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 11px;
  right: 0;
}
.navigation-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.navigation-header__registration-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.08;
  /* identical to box height, or 208% */
  position: relative;
  color: rgba(73, 80, 87, 0.5019607843);
}
.navigation-header__registration-button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ddbea9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 7.5px;
}
@media (any-hover: hover) {
  .navigation-header__registration-button:hover::before {
    width: 100%;
    left: 0;
  }
}
.navigation-header__get-started-button {
  font-weight: 500;
  line-height: 2.08;
  /* identical to box height, or 208% */
  background-color: #ddbea9;
  border-radius: 20px;
  padding: 7.5px 15.5px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #f8f9fa;
}
@media (max-width: 767.98px) {
  .navigation-header__get-started-button {
    padding: 5px 12px;
  }
}
@media (any-hover: hover) {
  .navigation-header__get-started-button:hover {
    background-color: #baa190;
  }
}

.sub-menu {
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.sub-menu__list {
  background-color: #212529;
  border-radius: 5px;
  min-width: 140px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
}
.sub-menu__item {
  font-weight: 500;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.6);
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.sub-menu__item:hover {
  color: #f8f9fa;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}