@import url(reset.css);
/* ==================================================================== */
body{
	font-family: "Poppins","Arial", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	
color: #9C9C9C;
}
.wraper{
	max-width: 1230px;
	margin: 0 auto;
	padding: 10px 15px 0px;
}
/* ==================================================================== */
.header_container {
	margin-bottom: 100px;
}
.header{
margin-bottom: 100px;
}
.h1{
	text-align: center;
	/* max-width: 486px;
	margin: 0 auto; */
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: #000000;
	margin-bottom: 40px;
}
.text_container{
	max-width: 518px;
	margin: 0 auto 53px;
}
.text{
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	color: #000000;
}
/* ==================================================================== */

.text_blocks {
	font-size: 0;
	margin-bottom: 82px;
}
.block_1 {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */
	/* Grayscale/10 */
	color: #9C9C9C;
	min-height: 320px;
	display: inline-block;
	max-width: 584px;
	margin-right: 32px;
}
h2{
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	/* identical to box height, or 34px */
	/* Grayscale/50 */
	color: #333333;
	margin-bottom: 24px;

}
.first_p {
	margin-bottom: 30px;
}
.block_1 .first_p{
	margin-bottom: 60px;
}
.span_2 {
	display: inline-block;
	margin-left: 80px;
}
.block_2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */
	color: #9C9C9C;
	min-height: 320px;
	display: inline-block;
	max-width: 584px;
}
/* ==================================================================== */
.images_container{
	font-size: 0;
	display: inline-block;
	margin-bottom: 100px;
}

.img_1 {
	max-width: 50%;
	margin-right: 32px;
	margin-bottom: 32px;
}
.img_2 {
	margin-bottom: 32px;
	max-width: 50%;
}
.img_3 {
	max-width: 100%;
	margin-bottom: 32px;
}
.img_4 {
	max-width: 50%;
	margin-right: 32px;

}
.img_5 {
	max-width: 50%;
}
/* ==================================================================== */
.contacts {
	display: inline-block;
	font-size: 0;
	height: 203px;
	width: 100%;
	background-color: #2C3878;
	color: rgb(255, 255, 255);
	
}
.footer_wrap{
	max-width: 1230px;
	margin: 0 auto;
	padding:0px 15px;
}
.title{
	display: inline-block;
	font-weight: 600;
	font-size: 36px;
	line-height: 170%;
	color: #FFFFFF;
	max-width: 613px;
	padding: 40px 0;
}
.title h3{
	text-transform: lowercase;
}
.text_with_button{
	display: inline-block;
	padding-left: 152px;
	padding-top: 38px;
	padding-bottom: 38px; 
	max-width: 587px;
}
.text_with_button p{
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 20px;
	color: #D9D9D9;

}
.text_with_button a{
	
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	padding: 14px 32px;
	background: #FFFFFF;
	color: #333333;
}
.text_with_button a:hover{
	background: #dedede;
}